* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  height: 100vh;
  max-width: 960px;
  margin: auto;
}
.justify-space-row {
  justify-content: space-between;
}
.justify-center-row {
  justify-content: center;
}
.row {
  display: flex;
}
.column {
  flex-direction: column;
}
.table {
  height: 100vmin;
  width: 100vmin;
  box-shadow: 0px 0px 8px #000;
}
.f-1 {
  flex-grow: 1;
}
.p-1 {
  padding: 1rem;
}

.square {
  flex-grow: 1;
}
